<%= render "shared/navigations" %>
<div class="col-sm-3 col-sm-offset-4">
  <% unless user_signed_in? %>
    <%= link_to "User Login", new_user_session_path, class: "btn btn-default btn-block" %>
    <%= link_to "User Signup", new_user_registration_path, class: "btn btn-default btn-block" %>
  <% end %>
  <%= link_to "Search For Experts", experts_path, class: "btn btn-default btn-block" %>
</div>
