<div class="row">
  <div class="col-sm-2">
    <%= image_tag(expert.expert_profile_picture_url, { style: "max-width: 150px;" }) if expert.expert_profile_picture_url %>
  </div>
  <div class="col-sm-6">
    <h2><%= link_to expert.expert_name, expert_path(expert) %></h2>
    <h3><%= expert.expert_service %></h3>
    <div><%= expert.expert_introduction %></div>
  </div>
</div>
